body{
    text-align:center;
    font-display: auto;
    background-color: rgb(202, 178, 178);
    

}
@media (max-width: 600px) {
    .btn {
        width: 15vw;
        height: 15vw;
        font-size: 22px;
    }
    #status {
        font-size: 20px;
    }

}

h1{
    color:black;
    font-display: auto;
}
.btn{
    background-color:rgb(248, 247, 247);
    width:8vw;
    height:8vw;
    aspect-ratio: 1/1;
    border-radius: 20%;
    border: none;
    margin: 5px;
    box-shadow: 2px 2px 5px grey;
    font-size: 7vw;
    font-weight:bold;
    color:brown;

    
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}
#reset-btn{
    margin-top: 20px;
    font-display: auto;
    border-radius:10px;
    border:3px solid black;
    background-color:#f48014;
    color:white;
    cursor:pointer;


}
.btn:hover{
    background-color: #7e7d7d;
    color:white;
    cursor:pointer;

}
#reset-btn:hover{
    background-color: #1c1919;
    color:white;
    cursor:pointer;


}
#status{
    height:5vmin;
    font-size:30px;
    font-weight:bold;
    color:rgb(26, 76, 107);
}

#start-btn{
    
    margin-top:8%;
    font-display: auto;
    border-radius:10px;
    border:3px solid black;
    background-color:#2ec98b;
    color:white;
    cursor:pointer;
}
#start-btn:hover{
    background-color: #1c1919;
    color:white;
    cursor:pointer;
}
.msg-container{
    display:flex;
    flex-direction:column;
    font-size: 10vw;
    align-items:center;
}
.hide{
    display:none;
}
